body,
#root,
.Login {
    height: 100vh;
}
.logo img {
    width: 100px;
    height: 100px;
}
.display {
    height: 100vh;
}

.user {
    border: 1px solid black;
    border-radius: 8px;
    margin: 0px 10px;
}
.user input {
    width: 80%;
    border: none;
}
.user input:focus {
    outline: none;
}
.iconUser {
    display: flex;
    align-self: center;
    margin: 0px 8px;
}
button {
    background-color: #fff;
    border: none;
}
button:focus {
    outline: none;
}
::placeholder {
    font-size: 13px;
}
.check {
    font-size: 13px;
}
.login {
    background-color: #44acf3;
    border-radius: 8px;
}
.login button {
    background-color: #44acf3;
    padding: 0px;
}
