body {
    font-size: 14px;
}
.App {
    height: 100vh;
}
.avatar {
    width: 45px;
    height: 45px;
}
.name input {
    padding-left: 20px;
    width: 100%;
    border: none;
}
.name {
}
.name input:focus {
    outline: none;
}
.text:focus {
    outline: none;
}

/* .menu {
    height: 100vh;
}
.avatar img {
    width: 35px;
    height: 35px;
}


.change button {
    background-color: #c4c4c4;
    border: none;
}
.mucluc {
    background-color: #c4c4c4;
} */
