body {
    overflow: hidden;
    font-size: 14px;
}
.App {
    height: 100vh;
}
.menu {
    height: 100vh;
}
.avatar img {
    width: 35px;
    height: 35px;
}
.name {
    width: 85%;
}
.name:focus {
    outline: none;
}
.text {
    width: 83%;
}
.change button {
    background-color: #c4c4c4;
    border: none;
}
.mucluc {
    background-color: #c4c4c4;
}
